mat-card-content {
    padding: 5px;
  }
  
  .example-full-width {
    width: 100%;
    display: block;
  }
  
  .button_list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 20;
  }
  
  .margin_cancelar {
    margin-left: 10px;
  }
  
  .container{
    margin-top: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  }